.controlador{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.045);
    margin: 20px;
    border-radius: 10px;
    color: #ff0086;
    font-size: 13pt;
}

.controlador button{
    border-radius: 50%;
    padding: 10px 7px;
    font-size: 5pt;
    border: none;
    background-color: #5fb9b8;
}